<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="RMShost" value="msk-kltn-mom001.x5.ru"/>
    <add key="ACShost" value="msk-kltn-acs001.x5.ru"/>
    <add key="UpdateInterval" value="120"/>
    <add key="CycleOpenWindows" value="true"/>
	<add key="OpenWindowOnTopTimeout" value="90"/>
	<add key="StartOtherConsole1" value="%ProgramFiles%\TRENDnet\SecurView\SecurView.exe"/>
	<add key="StartOtherConsole2" value=""/>
	<add key="StartOtherConsole3" value=""/>
    <add key="MonitoringAlertCriteria" value="ResolutionState=0 AND Severity=2 AND Priority&gt;0"/>   <!-- AND Priority=2" -->
	<add key="ShowCompStateError" value="false"/>
    <add key="ShowCompStateWarning" value="false"/>
	<add key="ShowCompInMaintenanceMode" value="true"/>
	<add key="ShowCompStateUninitialized" value="true"/>
	<add key="UseCompiledAlertName" value="true"/>
	<add key="ShowAcsAgentCount" value="false"/>
	<add key="ShowLargeCompIcons" value="true"/>
	<add key="EmailAging" value="5"/>			
    <add key="FontSizeAlert" value="30"/>
    <add key="FontSizeComp" value="30"/>
	<add key="FontColumnHeader" value="16"/>
	<add key="FontSizeStatus" value="16"/>
	<add key="FontFamily" value="Lucida Sans Unicode"/>
    <add key="SpeakAlert" value="false"/>
    <add key="SpeakVoice" value="Microsoft Anna"/>
    <add key="SplashAlert" value="true"/>
    <add key="AlarmSound" value="notify.wav"/>
    <add key="Column1" value="150"/>	  <!-- *Источник 150    110 -->
	<add key="Column2" value="0"/>	  <!-- M         25     0   -->
	<add key="Column3" value="0"/>   <!-- Путь     200   120 -->
	<add key="Column4" value="0"/>	  <!-- Приоритет 70     0   -->
	<add key="Column5" value="310"/>	  <!-- *Название 350    250 --> 
	<add key="Column6" value="0"/>	  <!-- Cоздано   96     80  -->
	<add key="Column7" value="0"/>	  <!-- Возраст   115    0   -->
	<add key="Column8" value="20"/> 	  <!-- Повторы   60     45 35  -->
	<add key="Column9" value="85"/>	  <!-- Время (последний) 96     80  -->
	<add key="ClientSettingsProvider.ServiceUri" value=""/>
	<add key="TraceFlags" value="0x8003"/>
	  <add key="CameraPreviewEnable" value="true"/>
	  <add key="CameraHostList" value="MO-LBN-cam001 MO-PAVL-cam001 MO-SHL-cam001 MO-APR-cam001 MO-CHKH-cam001 MO-POD-cam001 MO-ORZ-cam001 MO-TOM-cam001"/>
	  <add key="CameraRemotePort" value="80"/>
	  <add key="CameraUserName" value="admin"/>
	  <add key="CameraPassword" value="admin"/>
	  <add key="CameraShowTimeout" value="40"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
